<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Contact</title>
</head>
<body>
    <h3>Are you sure you want to delete {{ contact.First_name }} {{ contact.Last_name }}?</h3>
    
    <form method="POST" action="{{ url_for('delete_contact', pk=contact.id) }}">
        {{ csrf_token | safe }}
        <p>
            <a href="{{ url_for('contacts') }}">Go Back.</a>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>
